@import "variables";
@import "bootstrap/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

nav {
  background-color: #fafafa;
  padding: 10px 0;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.auth-wrapper {
  display: flex;
  align-items: center;

  .username {
    font-size: 14px;
  }
}

.btn {
  &-primary {
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
  }
}

.bg-theme {
  background-image: url('../img/home.jpg');
  background-position: center;
  background-size: cover;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, .25);
}

.home-container {
  background-image: url('../img/home.jpg');
  background-position: center;
  background-size: cover;

  &__inner {
    background-color: rgba(0, 0, 0, .3);
  }
}