.box {
    background: red;
    width: 30rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: white;
    border-radius: 100%;
  }
  
  .box2 {
    background: white;
    width: 20rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: white;
    border-radius: 100%;
  }
  
  .box3 {
    background: red;
    width: 12rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: black;
    border-radius: 100%;
  }
  
  
  .box4 {
    background: white;
    width: 40rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: white;
    border-radius: 100%;
  }
  .box5 {
    background: red;
    width: 50rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: white;
    border-radius: 100%;
  }
  
  body {
    background: white;
    color: black;
  }
  
  body > p {
    margin-left: 40rem;
    font-size: 20px;
  }
  
  .text {
    width: 30rem;
    aspect-ratio: 1 / 1;
    position: fixed;
    inset: 0rem;
    margin: auto;
    color: white;
  }
  
  ::selection {
    background: transparent;
  }
  
  ::-moz-selection {
    background: transparent;
  }